@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root{
  --white: #FFF;
  --light-gray: #A2A2AA;
  --medium-gray: #333444;
  --blackish: #06071B;
  --gold: #F2AF29;
  --red: #861111;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--gold);
}

body {
  background-color: var(--white);
}

content {
  margin-bottom: 5rem;
}

footer {
  padding: 1rem;
  background-color: var(--blackish);
}

hr {
  grid-column: 2;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  color: var(--blackish);
}

main {
  min-height: calc(100vh - 5.444rem);
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  font-family: 'Lato', Helvetica, sans-serif;
}

p, .book-description {
  font-family: 'Lato', Helvetica, sans-serif;
  font-variant-ligatures: common-ligatures;
  color: var(--blackish);
  white-space: pre-wrap;
}

.book-description {
  font-family: 'Libre Baskerville', serif;
  grid-column: 2;
  text-align: center;
  font-size: 1em;
}

.chapter-grid {
  display: grid;
  align-items: center;
  justify-content: left;
  grid-template-columns: 1fr 15fr 1fr;
  grid-gap: 1rem;
}

.chapter-container {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
  " s s s d d d d d d d d d "
  " s s s d d d d d d d d d ";
  grid-gap: 1.618rem;
}

@media screen and (max-width: 1600px) {
  .chapter-container {
    grid-template-areas:
      " s s s s d d d d d d d d "
      " s s s s d d d d d d d d ";
    grid-gap: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .chapter-container {
    grid-template-areas:
      " s s s s s d d d d d d d "
      " s s s s s d d d d d d d ";
    grid-gap: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .chapter-container {
    grid-template-areas:
      " s s s s s s d d d d d d "
      " s s s s s s d d d d d d ";
    grid-gap: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  .chapter-container {
    grid-template-areas:
      " d d d d d d d d d d d d "
      " s s s s s s s s s s s s ";
    grid-gap: 1.2rem;
  }
}

.chapter-soundcloud-link {
  grid-area: s;
}

.chapter-description {
  grid-area: d;
}

.copyright {
  font-size: 0.75rem;
  color: var(--light-gray);
  padding-top: 1rem;
  align-self: end;
}

.footer-grid {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-family: 'Libre Baskerville', serif;
}

.hero {
  max-width: 400vw;
  min-height: 10vw;
  max-height: 40vh;
  width: 400vw;
  margin-left: -150%;
  margin-right: -150%;
  margin-bottom: -0.5rem;
}

.white-text {
  color: var(--white);
}